  <div class="row">
    <div class="col">
      <h1>{{ clientHeader }}</h1>
      <div class="row mt-4">
        <div class="col-md-3">
              <img
                src="./images/RobPhoto.jpg"
                alt="Profile photo"
                class="img-fluid "
              />
        </div>
        <div class="col-md-9">
          <h5>Welcome</h5>
          <p>
            {{ clientDescription }}
          </p>
          <div class="row">
            <div class="col-md-6">          
              <div class="d-flex flex-column">
                <span class="d-flex"><b>Contact Info:</b></span>
                <span class="d-flex">{{clientEmail}}</span>
                <span class="d-flex">{{clientPhone}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <div *ngIf="nextAvailable">
                <button 
                  class="btn btn-lg btn-success w-100 mb-2 shadow"
                  (click)="goToForm()"
                >
                  Next Available Appointment:<br />
                  <strong>{{ nextAvailable.start | date: 'fullDate' }}<br />{{ nextAvailable.start | date: 'shortTime' }}</strong>
                </button>
              </div>
              <div *ngIf="!nextAvailable">
                <div class="alert alert-secondary text-center">
                  No available appointments at the moment.
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>